.vitrine{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    text-align: center;
}

.header{
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px;
}

ul{
    display: flex;
}

li{
    padding: 12px;
}

main{
    max-width: 1200px;
    margin: auto;
}

