.vitrine{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    text-align: center;
}

.header{
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    padding: 12px;
}

main{
    max-width: 1200px;
    margin: auto;
}

